body {
    font-family: "PT Sans", sans-serif;
}

a {
    color: #e62c33;
}

a:hover,
a:focus {
    color: #000000;
    text-decoration: none;
}

/*LEFT NAVBAR SIDE*/
.sidebar {
    background-color: #191919;
    color: #FFFFFF;
    height: 100vh;
    text-transform: uppercase;
    padding: 0;
}

.sidebar .header {
    text-align: center;
}

.sidebar .header h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}

.sidebar .header h2 {
    font-size: 12px;
    letter-spacing: 6.5px;
    margin-top: -5px;
    color: #888888;
}

.sidebar .nav-links {
    letter-spacing: 1px;
    text-align: right;
    position: relative;
    top: 20px;
    font-size: 16px;
}

.sidebar a {
    color: #FFFFFF;
}

.active a {
    color: #e62c33;
}

.nav>li>a {
    padding: 10px 30px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    color: #e62c33;
    background-color: transparent;
}

.footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.footer ul {
    padding: 0;
}

.footer li {
    display: inline-block;
    list-style-type: none;
}

.sidebar .icons {
    color: #e62c33;
}

.sidebar .icons:hover {
    color: #FFFFFF;
}

.sidebar .icons .fa-inverse:hover {
    color: #e62c33;
}

/*MAIN CONTENT SIDE*/
.main {
    padding: 0;
    max-height: 100vh;
    overflow: auto;
}

.section-image {
    min-height: 250px;
    width: 100%;
}

body {
    background: url(../img/girl_in_jeans.jpg) no-repeat;
    background-size: cover;
    position: fixed;
    /*z-index: -1;*/
    top: 0;
    left: 0;
}

#projects-image {
    background: url(../img/code_on_screen.jpg) no-repeat;
    background-size: cover;
}

#contact-image {
    background: url(../img/old_postcards.jpg) no-repeat left bottom;
    background-size: cover;
}

.content {
    padding: 50px;
    position: relative;
    background-color: #FFFFFF;
}

.content h1 {
    margin: 0;
    display: inline-block;
    padding: 15px 30px;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #e62c33;
    position: absolute;
    top: -47px;
    right: 0;
}

.content blockquote {
    border-left: 5px solid #e62c33;
}

.content h2 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.content h3 {
    border-bottom: 2px solid #e62c33;
    font-size: 16px;
    display: inline-block;
    padding-bottom: 5px;
    font-weight: bold;
}

#about {
    padding-top: 250px;  /*This is required to fix the first section-image*/
}

#intro-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#profile-image {
    width: 20%;
    margin-right: 20px;
}

#tech-stack {
    display: inline-block;
    border-radius: 5px;
    padding: 20px;
    background-color: #f2dede;
}

#tech-stack h3 {
    margin-top: 0;
}

#tech-stack ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#tech-stack ul li {
    margin-bottom: 3px;
}

#tech-stack ul li:last-child {
    margin-bottom: 0;
}

.list-heading {
    text-transform: uppercase;
    font-weight: bold;
}

.portfolio-item {
    margin-bottom: 25px;
}

.portfolio-item>div>img {
    border: 1px solid #eee;
}

.portfolio-item-desc {
    position: relative;
}

.portfolio-item-links {
    position: absolute;
    top: 10px;
    right: 0;
}

#contact-form {
    margin-top: 50px;
}

@media (min-width:768px) {
    #mobile-navbar {
        display:none !important;
    }

    .sidebar,
    .header h2 {
        display:block !important;
    }
}

@media (max-width: 767px) {
    #mobile-navbar {
        display:block !important;
    }

    #my-name {
        color: #FFFFFF;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2px;
        padding-left: 30px;
        margin-top: 12px;
    }

    .sidebar,
    .header h2 {
        display:none !important;
    }

    .nav.navbar-nav {
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #FFFFFF;
    }

    .navbar-inverse .navbar-nav>li>a:hover {
        color: #e62c33;
    }

    nav.navbar {
        margin-bottom: 0;
    }

    #about-image {
        margin-top:50px;
    }

}

/*Make h2 eat.sleep.code.repeat text show on one line depending on screen size*/
@media (min-width:1061px) {
    .header h2 {
        display:block !important;
    }
}


@media (max-width: 1060px) {
    .header h2 {
        display:none !important;
    }
}

@media (max-width: 500px) {
    #intro-container {
        display: block;
    }

    #profile-image {
        width: 50%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
}
